<html>
<body>
    <h1>Categories</h1>
    <br />
    <p>
        <ul>
            <li>
                    <a href="/categories/edit/1">Beverage</a>  
            </li>
            <li>
                <a href="/categories/edit/2">Mets</a>
            </li>
        </ul>
    </p>
</body>
</html>